%p
  The goal of Inqlude is to provide a comprehensive listing of all
  existing libraries for developers of Qt applications. If you are creating
  applications using the Qt toolkit, and are looking for libraries, components
  or modules to use, Inqlude is the place where you find all information and
  pointers to get started.
%p
  Inqlude comes with a command line client for handling libraries. See the
  = link_to "instructions how to get libraries", "get"
  for more details.
%p
  Inqlude aims to be a complete archive of all available Qt based
  libraries. If you notice that there is some information missing, outdated
  or inaccurate, please consider contributing the missing data. See the
  = link_to "instructions how to contribute", "contribute"
  for more details.
%p
  %em
    Note that Inqlude is currently in alpha state. It's not ready for full
    production use yet. Data is still incomplete, and the tools are
    limited. Feedback and input is appreciated.
%p
  If you have questions of comments please feel free to write to the Inqlude
  mailing list #{link_to "inqlude@kde.org", "mailto:inqlude@kde.org"}.
%p
  Inqlude was created by
  = link_to "Cornelius Schumacher", "mailto:schumacher@kde.org"
  with the help of many others, and is a proud  member of the KDE family.
