body {
  background-color: yellowgreen;
  margin: 0px;
  font-family: 'Droid Sans', arial, serif;
}

.ribbon {
  background-color: #a00;
  overflow: hidden;
  position: absolute;
  left: -2em;
  top: 1em;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 0.5em #444;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 200%;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 .logo {
  font-size: 200%;
  font-weight: bold;
}

h1 .green {
  color: green;
}


h1 .subtitle {
  padding-left: 12px;
}

h2 {
  text-align: center;
}

.header {
  width: 80%;
  background-color: white;
  padding: 10px;
}

.menu {
  width: 85%;
  background-color: green;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 10px;
  text-align: left;
}

#cse-search-form {
  float: right;
  width: 250px;
}
#cse {
  width: 90%;
}

.menu_items {
  color: white;
}

.menu_items a {
  color: white;
}

.content {
  width: 80%;
  background-color: white;
  padding: 10px;
}

.code {
  background-color: black;
  color: white;
  padding: 10px;
  font-family: monospace;
  margin: 6px;
}  

.old-versions {
  font-size: 80%;
}

table {
  margin: auto;
}

td {
  vertical-align: top;
  padding-left: 16px;
}

.footer {
  float: right;
}

.edit-link {
  float: right;
  font-size: 80%;
}
