body {
  background-color: yellowgreen;
  margin: 0px;
  font-family: 'Droid Sans', arial, serif;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 200%;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 .logo {
  font-size: 200%;
  font-weight: bold;
}

h1 .green {
  color: green;
}


h1 .subtitle {
  padding-left: 12px;
}

.header {
  width: 80%;
  background-color: white;
  padding: 10px;
}

.menu {
  width: 85%;
  height: 20px;
  background-color: green;
}

.content {
  width: 80%;
  background-color: white;
  padding: 10px;
}

table {
  margin: auto;
}

td {
  vertical-align: top;
  padding-left: 16px;
}
