body {
  color: #111;
  margin: 0px;
  font-family: 'Droid Sans', arial, serif;
  font-size: 155%;
}

a:link {
  color: #44a51c;
  text-decoration: none;
}
a:visited {
  color: #2F7213;
  text-decoration: none;
}
a:hover {
  color: #44a51c;
  text-decoration: underline;
}
a:active {
  color: #2F7213;
  text-decoration: underline;
}

.ribbon {
  background-color: #a00;
  overflow: hidden;
  position: absolute;
  left: -2em;
  top: 1em;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 0.5em #444;
}

h1 {
  font-family: monospace;
  font-size: 180%;
  margin-bottom: 0px;
}

h1 .logo {
  font-size: 180%;
  font-weight: bold;
}

h2 {
  margin-top: -5px;
}

h2 .subtitle {
  font-weight: bold;  
  font-size: 78%;
}

.logo a {
  color: #111;
  text-decoration: none;
}
.logo.green a {
  color: #80C342;
  text-decoration: none;
}
.subtitle a {
  color: #111;
  text-decoration: none;
}

h3 {
  font-weight: bold;
  font-size: 140%;
  margin-top: 0px;
  padding-bottom: 15px;
}

h4 {
  font-weight: bold;
  font-size: 120%;
}

.container-fluid.header {  
  -webkit-box-shadow: 0px 6px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 6px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 2px 4px rgba(0,0,0,.2);
  background-color: #eee;
  padding-left: 0px;
  padding-right: 0px;
}

.col-sm-8.left {
  margin-top: 0px;
  padding: 0px;
  padding-bottom: 5px;
  padding-left: 55px;
}

.col-sm-4.right {
  float: right;
  text-align: right;
  padding-top: 40px;
  padding-right: 30px;
}

.container-fluid.content {
  padding-right: 15px;
  padding-left: 15px;
}

.col-sm-3.side-bar {
  padding: 20px;
  padding-top: 30px;
}

.description {
  text-align: justify;
}

ul.titles-list {
  list-style-type: circle;
  padding-left: 15px;
}

.title {
  font-weight: bold;
  margin-top: 30px;
}

ul.side-list {
  list-style-type: none;
  padding-left: 0px;
}

date {
  float: right;
}

number {
  font-size: 80%;
}

.col-sm-9.main-pane {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 20px;
}

table.table-hover.col-sm-12 {
  margin-bottom: 20px;
}

table.table-hover.col-sm-12 tr:hover td {
  background-color: #a4d477;
  cursor: pointer;
}

tr:nth-child(odd) {
  background-color: #eee;
}

td {
  vertical-align: top;
  padding: 5px;
  padding-left: 6px;
}

td.name {
  width: 15%;
}

td.summary {
  width: 32%;
}

td.platforms {
  width: 15%;
}

td.topics {
  width: 19%;
}

td.licenses {
  width: 19%;
}

.code {
  background-color: #111;
  color: #eee;
  padding: 10px;
  font-family: monospace;
  margin: 6px;
}

.release-date {
  font-size: 80%;
  margin-left: 5px;
  margin-right: 5px;
}

.old-versions {
  font-size: 80%;
}

home {
  float: right;
  font-style: italic;
}

.footer {
  float: right;
  font-size: 80%;
  font-style: italic;
}

.edit-link {
  float: right;
  font-size: 80%;
}

.col-sm-12.legal {
  text-align: center;
  font-size: 75%;
  padding-bottom: 10px;
}

.attribute {
  margin: 8px;
  margin-left: 10%;
}

.attribute .label {
  display: inline;
  color: #555;
  width: 120px;
  text-align: right;
  float: left;
  margin-right: 8px;
  font-size: inherit;
  font-weight: normal;
}

.attribute .value {
  display: inline;
}

i.fa {
  font-size: 16px;
  margin-left: 2px;
}

hr {
  margin-top: 0px;
}
